h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 50px;
    color: white;
}




div {
    font-size: 0px;
    flex: 1;
}


#container {
    border-color:  rgb(255, 181, 255);
    border-style: solid;
    height: 800px;
    width: 800px;
    display: flex;
    margin: 25px;
    
    
}

.gridRow {
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#everything {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 100px;
    width: 200px;
    font-size: 24px;
    margin: 25px;
    background-color: rgb(242, 208, 255);
    color: rgb(23, 0, 124);
    border-color: white;
    border-radius: 6px;
    border-style: dotted;
    border-width: 6px;
}

button:hover {
    background-color: rgb(255, 235, 251);
}

#sidePanel {
    background-color: rgb(255, 181, 255);
    height: 800px;
    width: 800px;
    margin: 25px;
}